<head>
    <meta charset="utf-8" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml"/>

    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/apple-icon-114x114.png">

    <link rel="pavatar" href="{{ site.url }}/avatar/krtek.png"/>

    <meta name="msapplication-TileColor" content="#364050">
    <meta name="msapplication-navbutton-color" content="#364050">
    <meta name="theme-color" content="#364050">
    <meta name="apple-mobile-web-app-status-bar-style" content="#364050">
</head>
