<div id="sidebar">
    <h1 id="logo">
        <a href="/">Gilles Crettenand</a>
    </h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a></li>
            <li><a href="{{ "/portfolio/" | prepend: site.baseurl }}">Portfolio</a></li>
            <li>
                <a href="{{ "/files/Gilles.Crettenand.resume.pdf" | prepend: site.baseurl }}" class="icon fa-file-pdf-o">
                    Resume [English]
                </a>
            </li>
            <li>
                <a href="{{ "/files/Gilles.Crettenand.cv.pdf" | prepend: site.baseurl }}" class="icon fa-file-pdf-o">
                    CV [French]
                </a>
            </li>
            <li>
                <a href="mailto:gilles@crettenand.info" class="icon fa-envelope-o">
                    Contact Me
                </a>
            </li>
        </ul>
    </nav>

    <section class="box recent-posts">
        <header>
            <h2>Recent Posts</h2>
        </header>
        <ul>
            {% for post in site.posts offset: 0 limit: 5  %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>

    <div id="social">
        <ul>
            <li><a href="http://www.facebook.com/gilles.crettenand.7" class="icon fa-facebook"><span>Facebook</span></a></li>
            <li><a href="http://www.linkedin.com/in/gillescrettenand" class="icon fa-linkedin"><span>Linkedin</span></a></li>
            <li><a href="http://twitter.com/#!/gcrettenand" class="icon fa-twitter"><span>Twitter</span></a></li>
            <li><a href="http://stackoverflow.com/users/633281/krtek" class="icon fa-stack-overflow"><span>StackOverfow</span></a></li>
            <li><a href="http://www.delicious.com/krtek" class="icon fa-delicious"><span>delicious</span></a></li>
            <li><a href="http://www.youtube.com/user/krtek4" class="icon fa-youtube"><span>You Tube</span></a></li>
        </ul>
    </div>

    <div id="krtek">
        <img src="/files/images/logo.png">
    </div>

    <ul id="copyright">
        <li>&copy; Gilles Crettenand.</li>
        <li>Design inspired by <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>

</div>
